@*
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">        
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            @* <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul> 
            <ul class="navbar-nav">
               @{
                   if(Resource.ArabicCulture == false)
                   {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ChangeCulture" asp-route-culture="ar-eg" asp-route-returnUrl=@Context.Request.Path>عربي</a>
                        </li>
                   }
                   else
                   {
                    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ChangeCulture" asp-route-culture="en-us" asp-route-returnUrl=@Context.Request.Path>English</a>
                    </li>
                   }
                    if (User.Identity.IsAuthenticated == false)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="login">@Resource.GetString("Login")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registration">@Resource.GetString("Register")</a>
                        </li>
                    }
                    else if (User.Identity.IsAuthenticated == true)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="logout">@Resource.GetString("Logout")</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>
*@
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-0">
    
        <ul class="navbar-nav">
            @{
                if (Resource.ArabicCulture == false)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ChangeCulture" asp-route-culture="ar-eg" asp-route-returnUrl=@Context.Request.Path>عربي</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ChangeCulture" asp-route-culture="en-us" asp-route-returnUrl=@Context.Request.Path>English</a>
                    </li>
                }
                if (User.Identity.IsAuthenticated == false)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="login">@Resource.GetString("Login")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registration">@Resource.GetString("Register")</a>
                    </li>
                }
                else if (User.Identity.IsAuthenticated == true)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="logout">@Resource.GetString("Logout")</a>
                    </li>
                }
            }
        </ul>
    
</nav>